@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Golos';
    src: url('../fonts/GolosText-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root {
    --yellow-lite: #FBCE51;
    --red-color: #F54932;
    --text-grey: #313131;
    --link-color: #3057A2;
}

:root {
    --golos-language: 'Golos', Arial, sans-serif;
    --Merriweather-language: 'Merriweather', Arial, sans-serif;
    --language: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,Arial,sans-serif;
}

body {
    font-size: 18px;
    color: var(--text-grey);
    font-family: var(--golos-language);
    line-height: 28px;
    background-color: #fff;
}

body::-webkit-scrollbar {
    width: 12px;
}
body::-webkit-scrollbar-track {
    background: #fff;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--red-lite);
    border-radius: 20px;
    border: 3px solid #fff;
}

body, html {
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}



.site-container {
    max-width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1366px;
    padding: 26px 72px;
}


/* Preload */

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: var(--yellow-lite);
    z-index: 1001;
}

.preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}


/* UP BTN  */

.up-btn-link {
    text-decoration: none;
    transition: all 0.3s ease;
    z-index: 1002;
}
.up-btn-link:hover .up-btn-block {
    transform: scale(1.1);
}
.up-btn-block {
    transition: all 0.3s ease;
    background-color: var(--yellow-lite);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 3px solid var(--red-color);
    border-left: 3px solid var(--red-color);
    border-radius: 50%;
    padding: 20px;
    position: fixed;
    top: 80%;
    left: 90%;
    
}
.up-btn {
    font-weight: bold;
    color: #fff;
}


/* TITLE  */

.title {
    background-image: url(../img/bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    position: relative;
}
.title-container {
    background-image: url(../img/bg-title.png);
    height: 700px;
}
.title-img {
    position: absolute;
}
.title-img-city {
    width: 1623.5px;
    height: 452.5px;
    top: 270px;
    left: 161.5px;
    gap: 0px;
    opacity: 0px;
}

.title-textBlock {
    width: 542px;
    height: 444px;
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.title-textBlock__heading {
    font-family: var(--Merriweather-language);
    font-size: 60px;
    line-height: 66px;
}
.title-textBlock__heading-center,
.title-textBlock__description {
    text-align: center;
}
.title-textBlock__description {
    line-height: 23.4px;
}
.title-textBlock__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.title-textBlock__btn--link {
    width: 263px;
    height: 72px;
    color: #1F1F1F;
    font-size: 16px;
    line-height: 20.8px;
    font-weight: 500;
    padding: 0 20px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 66px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s linear;
    background-color: #fff;
}
.title-textBlock__btn--link:hover {
    background-color: #1F1F1F;
    color: #fff;
}
.title-textBlock__btn--link:focus,
.title-textBlock__btn--link:active {
    border: 2px solid #ffF;
}
.title-textBlock__btn--link-black {
    background-color: #1F1F1F;
    border: 2px solid #1F1F1F;
    color: #fff;
}
.title-textBlock__btn--link-black:hover {
    background-color: var(--yellow-lite);
    color: #1F1F1F;
    border: 2px solid var(--yellow-lite);
}
.title-textBlock__btn--link-black:focus,
.title-textBlock__btn--link-black:active {
    border: 2px solid #1F1F1F;
}

.marquee-container{
    display: flex;
    align-items: center;
    background: var(--red-color);
    overflow: hidden;
}
.marquee{
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 22px;
    line-height: 24px;
    font-family: sans-serif;
    color: #fff;
    white-space: nowrap;
}
.marquee:after{
    content: ""  
}


/* SUPPORT  */


.support {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.support-text {
    font-family: var(--Merriweather-language);
    font-size: 36px;
    line-height: 48.6px;
    font-weight: 700;
}


/* details */


.details {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details-img {
    margin-right: 44px;
}
.details-block {
    width: 704px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}
.details-text {
    font-family: var(--Merriweather-language);
    font-size: 36px;
    line-height: 48.6px;
    font-weight: 700;
}
.details-lists__mob {
    display: none;
}
.details-lists {
    display: flex;
    margin-top: 60px;
}

.details-list__questions,
.details-list__answer {
    font-size: 20px;
    line-height: 24px;
}

.details-list__questions-item {
    font-weight: 400;
    padding: 16px 16px 16px 0;
}
.details-list__questions-item:not(:last-child),
.details-list__answer-item:not(:last-child) {
    border-bottom: 2px solid #D0D0D0;
}
.details-list__answer-item {
    width: 100%;
    font-weight: 600;
    padding: 16px;
    border-left: 2px solid #D0D0D0;
}

.details-question {
    width: 704px;
    margin-top: 48px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: var(--link-color);
}


/*  stages   */

.stages-mob {
    display: none;
    position: relative;
}

.stages-title {
    font-family: var(--Merriweather-language);
    font-size: 54px;
    line-height: 64.8px;
    font-weight: 400;
    margin-top: 200px;
    margin-bottom: 54px;
}
.stages-pretitle {
    color: var(--link-color);
    font-family: var(--golos-language);
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    max-width: 280px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
.stages-table {
    margin-bottom: 100px;
    position: relative;
}
.stages-table__aero {
    position: absolute;
    top: 170px;
    left: 73%;
}
.stages-table,
.stages-table__line,
.stages-table__block {
    width: 100%;
}
.stages-table__item {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    background-image: url(../img/bg.png);
    padding: 20px;
    min-height: 112px;
    display: flex;
}
.stages-table__item-number {
    background-color: #fff;
    font-weight: 600;
    margin-right: 16px;
    border-radius: 50%;
    min-width: 36px;
    max-width: 36px;
    min-height: 36px;
    max-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stages-table__line {
    display: flex;
    align-items: stretch;
}
.stages-table__item-small {
    max-width: 394px;
}
.stages-table__item--bigText {
    width: 446px;
}
.stages-table__item-big {
    height: 100%;
}
.mr-20 {
    margin-right: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}



/* participants  */

.participants {
    margin-bottom: 140px;
}

.participants-title {
    font-family: var(--Merriweather-language);
    font-size: 54px;
    line-height: 64.8px;
    font-weight: 400;
    margin-bottom: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.participants-card__block {
    display: flex;
}
.participants-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.participants-card__name {
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 600;
    margin-top: 26px;
}
.participants-card__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 6px;
}
.participants-card__link {
    margin-top: 20px;
    text-decoration: none;
    color: var(--link-color);
    padding: 12px;
    font-style: 16px;
    line-height: 19px;
    font-weight: 500;
    border: 1px solid var(--link-color);
    border-radius: 32px;
    transition: all .2s linear;
}
.participants-card__link:hover {
    background-color: var(--link-color);
    color: #ffF;
}
.participants-card__link:active,
.participants-card__link:focus {
    border: 1px solid #fff;
}




.ant-carousel {
    margin: 50px auto auto;
    padding-top: 10px;
    border: none;
    background-color: white;
}
  
.ant-carousel-element {
    width: 370px;
    text-align: center;
}
  
.ant-carousel {
    width: auto;
    position: relative;
}
  
.ant-carousel-hider {
    overflow: hidden;
}
  
.ant-carousel-list {
    width: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}
  
.ant-carousel-element {
    display: block;
    flex: 0 0 auto;
}
  
.carousel-arrows {
    display: flex;
}
.carousel-arrows-mob {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.ant-carousel-arrow-img {
    width: 8px;
    height: 17px;
}
.ant-carousel-arrow-left,
.ant-carousel-arrow-right {
    width: 36px;
    height: 36px;
    cursor: pointer;
    transition: all .2s linear;
    background-color: var(--text-grey);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.ant-carousel-arrow-left {
    display: block;
    background: url(../img/left.png) no-repeat var(--text-grey) center center;
    margin-right: 20px;
}
  
.ant-carousel-arrow-right {
    display: block;
    background: url(../img/right.png) no-repeat var(--text-grey) center center;
}
  
.ant-carousel-arrow-left:hover,
.ant-carousel-arrow-right:hover {
    background-color: var(--yellow-lite);
}
.ant-carousel-arrow-left:active,
.ant-carousel-arrow-right:active,
.ant-carousel-arrow-left:focus,
.ant-carousel-arrow-right:focus {
    background-color: #D6D6D6;
}

  
div.ant-carousel-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: -30px;
    z-index: 30;
    text-align: center;
}
  
span.ant-dot {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #BBB;
    border-radius: 5px;
    cursor: pointer;
}


/*  SECOND ANT   */

.page-title {
    text-align: center;
  }
  
  .slider-container {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider div {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
.prev-button,
.next-button {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--text-grey);
    border: none;
    color: white;
    transition: all .2s linear;
}
.prev-button:hover,
.next-button:hover {
    background-color: var(--yellow-lite);
}
.prev-button:active,
.next-button:active,
.prev-button:focus,
.next-button:focus {
    background-color: #D6D6D6;
}
  
.prev-button {
    margin-right: 20px;
}
  
.prev-next-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.stages-table__block-mob {
    min-height: 300px;
    width: 100%;
    background-image: url(../img/bg.png);
    padding: 34px 20px 20px 20px;
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 500;
}
.stages-table__block-mob--item {
    display: flex;
    margin-top: 28px;
}


/* footer  */

.footer {
    background-color: #E9DED4;
}
.footer-text {
    margin: 40px 0 72px 0;
    color: #313131;
}

@media (max-width:500px) {
    .container {
        max-width: 500px;
        padding: 20px;
        width: 100%;
    }
    .title-textBlock {
        width: 100%;
        height: 400px;
    }
    .title-container {
        background-image: url(../img/bg-title.png);
        background-position: center center;
        height: 700px;
    }

    .support,
    .details,
    .stages-mob,
    .title-textBlock__btn,
    .details-lists__mob {
        display: block;
    }
    .title-textBlock__btn--link {
        width: 100%;
    }
    .title-textBlock__description {
        text-align: left;
    }
    .title-textBlock__btn--link-black {
        margin-bottom: 14px;
    }
    .marquee{
        height: 38px;
        font-size: 16px;
        line-height: 18px;
    }
    .ant-carousel {
        width: 345px;
    }
    .ant-carousel {
        margin: 0;
    }
    .stages-desk,
    .up-btn-link,
    .details-lists__desk,
    .carousel-arrows {
        display: none;
    }
    .support-text__img {
        margin-top: 24px;
    }
    .title-textBlock__heading,
    .stages-title,
    .participants-title {
        font-size: 36px;
        line-height: 39px;
    }
    .support-text,
    .details-text {
        font-size: 28px;
        line-height: 37.8px;
        font-weight: 400;
    }

    .footer,
    .support-text__img,
    .details-img {
        width: 100%;
    }
    .details-block,
    .details-question {
        width: 100%;
    }
    .details-list__answer-item {
        border-left: none;
    }
    .details-list__questions-item:not(:last-child) {
        border-bottom: none;
    }
    .footer-text {
        font-size: 18px;
    }
    .carousel-arrows-mob {
        display: flex;
    }
    .ant-carousel-element {
        width: 350px;
    }
    .stages-pretitle {
        font-size: 18px;
        line-height: 21px;
        margin-left: 0;
        margin-top: 15px;
    }
    .stages-table__aero {
        left: 0;
        top: 30%;
        width: 300px;
        z-index: 3;
    }
    .stages-title {
        font-family: var(--Merriweather-language);
        font-size: 53px;
        line-height: 64.8px;
        font-weight: 400;
        margin-top: 200px;
        margin-bottom: 148px;
    }
    .stages-title {
        font-size: 36px;
        line-height: 39px;
    }

}
